---
const { item } = Astro.props;
const { href } = item;

// const active = (url_test:string) => {
//     console.log(`url_test: ${url_test}`)
//     return url_test == Astro.url.pathname
// } 

---

<script>
function isActive(url: string) {
    const clean_url = new URL(url)
    console.log(clean_url.pathname, window.location.pathname, (clean_url.pathname == window.location.pathname))
    return clean_url.pathname == window.location.pathname
}

const buttons = document.getElementsByClassName('menu-item')

for(var button of buttons) {
    // console.log(button.href)
    if(isActive(button.href) || window.location.pathname.includes(button.href)) {
        button.classList.add('active')
    } else {
        button.classList.remove('active')
    }
}
</script>
<!--
<script>
const options:ScrollIntoViewOptions = {
    behavior: 'smooth',
    block: 'start'
}

document.addEventListener('astro:page-load', () => {
    const buttons = document.getElementsByClassName('menu-item')

    const cleaner = () => {
        for(var button of buttons) {
            button.classList.remove('active')
        }
    }

    const scroll_click = (event:Event) => {
        event.preventDefault()
        if(!event.currentTarget) return

        const current = event.currentTarget as HTMLElement

        if(!current.dataset.scroll) return

        cleaner()

        document.getElementById(current.dataset.scroll)!.scrollIntoView(options)
        current.classList.add('active')
    }

    for(var button of buttons) {
        if(!button.classList.contains('scrollTo')) continue

        button.addEventListener('click', scroll_click, false)
    }
})
</script>
-->
<li>

    <!-- class=`menu-item ${(active(href)) ? 'active' : ''}` -->
    <a 
        href={href} 
        class="menu-item"
        data-scroll={item.scrollTo}
    >
        <i class={`text-lg nf ${item.icon} pr-1`}></i>
        {item.label}
    </a>
</li>
<!-- <li> 
    {item.scrollTo == null ? 
        <a {href} class=`menu-item ${}`>
            <i class={`text-lg nf ${item.icon} pr-1`}></i>
            {item.label}
        </a>
    :
        <a data-scroll={item.scrollTo} 
            {href}
            class="cursor-pointer menu-item scrollTo">
            <i class={`text-lg nf ${item.icon} pr-1`}></i>
            {item.label}
        </a>
    }
</li>
-->
<style>
@reference "@css/main.css";
li {
    @apply border-r border-darker pr-3 mr-3 last:mr-0;

    a {
        @apply relative text-darker-300 transition-all;
        @apply no-underline;
        
        &::after {
            @apply absolute -bottom-3 left-0;
            content: '';
            @apply h-0.5 w-0 bg-cyan origin-center transition-all;
        }

        &:hover {
            @apply text-cyan;

            &::after {
                @apply w-full;
            }
        }

        &.active {
            @apply text-pink;

            &::after {
                @apply bg-pink w-full;
            }
        }
    }
}
</style>
