---
import moment from "moment";
const tech_stacks = [
  {
    tagline: "built from",
    url: "https://astro.build/",
    label: "astro",
    icon: "nf-custom-astro",
    text_color: "text-pink"
  },
  {
    tagline: "styled with",
    url: "https://tailwindcss.com/",
    label: "tailwindcss",
    icon: "nf-md-tailwind",
    text_color: "text-cyan"
  },
  {
    tagline: "hosted on",
    url: "https://pages.github.com/",
    label: "GitHub Pages",
    icon: "nf-cod-github_action",
    text_color: "text-light"
  },
];

---

<footer class="bg-darker-800 mt-8 lg:mt-0 relative lg:fixed lg:top-full lg:-translate-y-full w-full py-2 lg:py-0">
  <div class="relative container w-11/12 lg:w-full mx-auto flex flex-row items-center justify-between">
    <ul class="flex flex-col lg:flex-row py-1">
      {tech_stacks.map((technology, _index) => (
      <li class="mr-2 last:mr-0">
        {technology.tagline != "" && (
          <span class="font-normal text-yellow">{technology.tagline}</span>
        )}
        <a href={technology.url} target="_blank" class=`${technology.text_color} font-semibold no-underline`>
          {technology.icon && <i class=`nf ${technology.icon} ${technology.text_color}`> </i>}
          {technology.label}
        </a>
      </li>
      ))}
    </ul>
    <div class="copyright">
      <p class="font-semibold text-darker-300 text-sm italic"><span class="font-normal">copyright</span> {moment().year()}</p>
    </div>
  </div>
</footer>
